table {
    width: 100%;
    font-family: Arial;
    border-collapse: collapse;
}
th, td {
    text-align: left;
    padding: 8px;
}
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.delete-btn {
    background-color: #d70000;
    padding: 10px 30px;
 border-radius: 10px;
}
    